/* General Settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*Simple Tags Settings*/

header {
    background: white;
    padding: 10px 10px;
}

main {
    padding: 30px 0px 30px 25px;
}



/*Main Content Styling*/

.container {
    width: 70%;
    background-color: #F6F8F9;
    margin: auto;
}

.logo {
    vertical-align: middle;
    
}

.header-title {
    font-size: 30px;
    font-weight: 800;
    vertical-align: middle;
    
}

.task-container {
    width: 65%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: white;
    
}

.buttons-container {
    background: white;
    padding: 25px;
    border-bottom: 1px solid #F6F8F9;

}

.buttons {
    font-size: 12px;
    text-align: center;
    border-radius: 4px;
    padding: 10px;
    margin: 5px;
    vertical-align: middle;
    
}

.task {
    background: dodgerblue;
    color: white;
    border-color: dodgerblue;
    
}

.section {
    background: white;
    border: 1px solid;
    border-color: #DFE2E5;
    color: #DFE2E5;
}

.check-symbol {
    color: #6FC6B2;
    border: 1px solid;
    border-radius: 50%;
    padding: 5px;
    font-size: 5px;
    
    
}

.delete-symbol {
    color: #EA4237;
    border: 1px solid;
    border-radius: 50%;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 5px;
    


}
/* Task Tags Styling */

.task-tags {
    font-size: 12px;
    color: white;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
}

.editorial {
    background: #45ABEA;
}

.q1-goals {
    background-color: #9C72E4;
}

.recruiting {
    background-color: #64C0A9;
}

.mobile {
    background-color: #F29E33;
}

.website {
    background-color: #D863A1;
}

.sales {
    background-color: #B0C926;
}

/*Different Task Section Spacing*/

.new-task {
    margin-bottom: 20px;
}

.newtasktopic {
    margin-top: 10px;
}

.today-task {
    margin-bottom: 20px;
}

.todaytasktopic {
    margin-top: 10px;
    
}

.task-rows {
    margin-bottom: 5px;
}
